## Data Exploration Assignment for Titatic Data Set from kaggle
______________
#### Keenan Zucker

Import all of the data into a numpy array
__________

In [111]:
import pandas as pd
import csv as csv
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

csv_file = csv.reader(open('train.csv', 'rb'))
header = csv_file.next()

data = []
for row in csv_file:
    data.append(row)
data = np.array(data)

totalPeople = np.size(data[0::,0].astype(np.float))
survivors = np.sum(data[0::,1].astype(np.float))

survivalPerc = survivors / totalPeople * 100
print "Survival Percentage: ", survivalPerc, "%"

Survival Percentage:  38.3838383838 %

___________
The overal survival percentage, when looking at only the number of survivors vs the total number of people, was about 38 percent. Now let's get more into the different features of the passengers

In [119]:
women = data[data[0::,4] == 'female']
women = women[women[0::,1] == '1']

firstWomen = women[women[0::,2] == '1']
secondWomen = women[women[0::,2] == '2']
thirdWomen = women[women[0::,2] == '3']
    
womenAges = ['0' if x=='' else x for x in women[0::,5]] # replace empty strings with zeros...

print womenAges[womenAges[]]

plt.scatter(womenAges, women[0::,2])
plt.xlabel('age of women')
plt.ylabel('class on ship')
plt.show()

ValueError: invalid literal for int() with base 10: ''

Shows the distribution of female ages vs which class their ticket was in. Older women generally had higher class tickets, which makes logical sense.